{% extends "Main_Truct.html" %}

{% block content %}
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form  action="">

                   <input name="t3" >
                    <input name="t4">
                    <textarea name="t2">

                    </textarea>

                    <input type="submit" value="recomend" name="b1" class="btn btn-Success" >
                </form>
            </div>
        </div>
        </div>
 {% endblock content %}